*{
    margin: 0;
    padding: 0;
}

p{
    color: red;
    font-size: 30px;
}

.section{
    display: flex;
    align-items: center;
    justify-content: center ;
    height: 100vh;
    flex-direction: column;
    background-color: #999;
}

.formwrapper{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    width: 50%;
    height: 70%;
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
}
.input_wrapper{
    width: 80%;
}

.input_wrapper input{
    padding: 10px 15px;
    border-radius: 10px;
    width: 90%;
    border: 1px solid #888;
    outline: none;
}

.input_wrapper input:hoover{
    outline: none;
}

#submit_button{
    background-color: darkblue;
    padding: 13px 25px;
    width: 40%;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;

}